.place__img {
    max-width: 100%;
    min-width: 320px;
    min-height: 320px;
}

@media screen and (min-width: 768px) {
    .place__img {
        max-width: auto;
        width: 340px;
        height: 340px;
    }
}