.cover {
    margin-top: 66px;
    background-image: url(../../images/cover-trains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 200px;
} 

@media screen and (min-width: 768px) {
    .cover {
        margin-top: 90px;
    }
}