.cover__overlay {
    min-width: 320px;
    min-height: 200px;
    color: #fff;
    background-color: rgba(0, 0, 0, .3);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .cover__overlay {
        min-width: 768px;
        min-height: 480px;
    }

    .cover__overlay:hover {
        background-color: rgba(0, 0, 0, .8);
    }
}

@media screen and (min-width: 1024px) {
    .cover__overlay {
        min-width: 1024px;
        min-height: 640px;
    }
}

@media screen and (min-width: 1280px) {
    .cover__overlay {

        min-width: 1184px;
        min-height: 740px;
    }
}
