.place {
    margin: 50px auto 0;
}

.place:first-child {
    margin-top: 0;
}

@media screen and (min-width: 768px) {
    .place {
        max-width: 90%;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        gap: 48px 28px;
        margin-top: 73px;
    }
}

@media screen and (min-width: 1024px) {
    .place {
        gap: 48px 32px;
        margin-top: 80px;
    }
}